body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", "sans-serif";
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;

}

nav a {
    text-decoration: none;
    color: #ffff;
    display: block;
    border-radius: 10px;
}

nav a:hover {
    background-color: #ffff;
    color: #4a4a4f;
}

.card {
    float: left;
    width: 15%;
    margin-left: 15%;
}

.card a {
    text-align: center;
}

img {
    width: 100%;
    /* note that  this is a relative width. It's relative to the width of the container that it's in. Our card - the container - is 20% of the screen
    width, so our image will be 100% of that width not 100% of the width of the screen */
    height: 180px;
    /* necessarily need to do this, but it will keep them all the same height even though it might make some of them look a bit squished */
}

h1 {
    text-align: center;
}