body{
    background-color: #BF9E75;
} 
#container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    
}
#subject{
    color:khaki;
    font-family: Helvetica, sans-serif;
    font-size:40px;
    background-image: url("https://assets/backdrop.webp");
    text-align:center;
    font-weight:bold;
}
#navbar {
    padding:1%;
    background-color:#BF9E75;
}
.navbutton{
    float:left;
    width:19.5%;
    margin:2%;
}
.navbutton a {
    display: block;
    border-radius: 3px;
    background-color:#A68F7B;
	color:#fff;
	text-align:center;
	padding-top:4px;
    padding-bottom:4px;
    text-decoration:none;
}
.navbutton a:hover{ 
    color:#A68f76; 
	background-color:#fff;
}

#main{
    padding: 2%;
}

.mainbox{
    width:100% ;   
    background-color: #A68F7B; 
    text-align: center;
    line-height: 1.5em;
    color:#333;
    font-family: cursive;
    font-size: 20px;
}
.mainbox a{
    padding:4%;
	display:block;
	text-align:center; 
	text-decoration:none;
    color:rgb(223, 224, 208);
    font-size: 22px;
}
.mainbox img{
    width: 50%;
    height: auto;
}
.mainbox a:hover {    
    color:#f2ddb6; 
}

.heading{
font-family:  Helvetica;
font-size: 32px;
color:white;
padding-top: 4%;
padding-bottom: 4%;
}

#section1{
    background-color:#f2ddb6;
    
}

strong{
    color:blue;
    font-family: Helvetica;
    font-family: cursive;
}

#section2{
    background-color:	#FFDEAD ;
}

#section3{
    background-color:#FFE4C4 ;
}